@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, rgb(53, 10, 91) , rgb(80, 16, 137) );
    height:100vh ;
}


.clock{
height: 40vh;
width: 70vh;
background-color: rgb(82, 17, 136);
display: flex;
justify-content: center;
align-items: center;
border-radius: 20px;
box-shadow: 5px 5px 10px rgb(53, 10, 91);

}

h1{
    font-family: 'Oswald', sans-serif;
    font-size: 60px;
    color: white;
}